/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.vagrant
Vagrantfile
*.sqlite
*.sass-cache
*uploads
/public/uploads/*
/public/sass/*
app/local/app.php
app/local/start.php