$verylightgray  : #F2F3F5;
$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;
$white			: #ffffff;
$verydarkgray   : #202020;
$lightblue      : #4E9FE9;
$lightred 		: #BB574E;
$mediumdarkblue : #0076C5;
$fadeblue 		: #3498DB;
$darkgreen		: #5cb85c;
$lightergray	: #BDB8B8;
$black 			: #000000;
$verydarkgreen	: #418657;
$darkerblue		: #3085A3;