$verylightgray  : #F2F3F5;
$lightgray      : #819090;
//$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$verydarkgray   : #202020;
$lightblue      : #4E9FE9;
$lightred 		: #BB574E;
$mediumdarkblue : #0076C5;
$fadeblue 		: #3498DB;
$darkgreen		: #5cb85c;
$lightergray	: #BDB8B8;
$black 			: #000000;
$verydarkgreen	: #418657;
$darkerblue		: #3085A3;

//new colors

$white : #FFFFFF;
$darkblue: #0C1A2C;
$cyanblue: #96C1AE;
$lightcyanblue: #D9E6D5;
$blue: #1E343F;
$darkgray: #41595C;
$red : #c95a5d;
$gray: #eeeeee;

