div.banner{	
	background-size: cover;
	background-color: $cyanblue;
	width: 100%;	
	position: relative;
	min-height: 700px;
	
	div.intro{
		background-color: transparent;
	    margin: 15% auto 11%;
	    position: relative;
	    text-align: center;
	    width: 100%;
	    min-width: 220px;
	    @include border-radius(5px);
	    @media screen and (max-width: $mobile){
	    	width: 90%;
	    }

		h1{
			margin: 0 auto;
			padding-bottom: 5%;
			line-height: 5rem;
			width: 70%;
			color: $white;
			font-size: 2.5rem;
			line-height: 1.5em;
			font-weight: 100;
			font-style: italic;
			font-family: 'Open Sans', sans-serif;
		}

		.button{
			width: 50%;
 			@media screen and (max-width: $mobile){
				width: auto;
			}
		}
	}
}