.button{
	background: none;
	color: $white;
	font-size: 16px;
	padding: 5px 20px;
	margin-top: 20px;
	width: 100%;
	position: relative;
	display: inline-block;
	line-height: 40px;
	@include transition(all 500ms ease);
}

.mediumblue{
	background: $mediumdarkblue;

	&:hover{
		background:  $white;
	}
}

.blue{
	background: $lightblue;
	&:hover{
		background: $mediumdarkblue;
	}
}

.flat{
	box-shadow: inset 0 -2px 0 0 #0090e3;
	background: #40acea;
	border: 1px solid #0090e3;
}

.transparant{
	border: 1px solid $white;
	background: none;
	border-radius: 5px;
	&:hover{
		
		color: white;

		&:after{
			width: 100%;
		}
	}

	&:after{
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .4;
		background: $mediumdarkblue;
		content: '';
		position: absolute;
		z-index: -1;
		@include transition(all 500ms ease);
	}
}