div.flash-message{ 
	position: fixed;
	right: 5%;
	z-index: 1000;
	bottom: 50px;
	min-height: 100px;
	width: 20%;
	padding: 3% 0;
	text-align: center;
	@include border-radius(5px);
	font-size: 1.5rem;
	color: $white;
	background-color: rgba(#3D4C54, 0.6);
}