footer{
	width: 100%;
	min-height: 100px;
	background-color: #1E343F;
	overflow: hidden;
	border-top: 1px solid $darkgray;
	margin-top: 100px;
	@include transition (all 200ms ease);

	.social-contact{
		padding: 10px 0;

		ul{
			text-align: center;
			padding: 2% 0 2% 0;

			li{
				display: inline-block;
				margin: 0 2%;
				color: $white;
				a{
					font-size: 2.5rem;
					opacity: 0.3;
					color: $white;
					@include transition(all 200ms ease);
					&:hover{
						opacity: 1;
					}
				}

				@media screen and (max-width: $mobile){
					margin: 0 5%;
				}
			}
		}
	}

	p{
		color: $white;
		text-align: center;
		font-size: 0.8rem;
		padding: 1% 0;
		a{
			color: $white;
		}
	}
}