header {
	height: 100px;
	background-color: $white;
	width: 100%;
	position: relative;
	padding-top: 25px;
	top: 0;
	z-index: 201;
	overflow: hidden;
	@include transition(all 200ms ease);

		h1.brand a{
			text-align: left;
			color: $darkblue;
			letter-spacing: 1px;
			font-size: 1.7rem;
			position:relative;
			text-transform: uppercase;
			font-weight: 300;
			@include transition(color 300ms ease);

			&:hover{
				color: $darkblue;
			}
			@media screen and (max-width: $mobile){
				font-size: 1.8rem;
				left: 5%;
			}
			@media screen and (max-width: $tablet){
				font-size: 1.8rem;
				left: 5%;
			}
		} // h1.brand

		.menu-toggle{
			text-decoration: none;
			color: $darkblue;
			font-size: 2rem;
			position: absolute;
			right: 0%;
			top: 9px;
			cursor: pointer;
			@media screen and (max-width: $mobile){
				right: 5%;
			}
			@media screen and (max-width: $tablet){
				right: 5%;
			}
		} // menu-toggle	
}// header
