div.about{

.info{
	background-color: $red;		
	padding:10% 7.5% 0 7.5%;	
	min-height: 960px;
	overflow-x: hidden;

	h1{
		font-size: 2rem;
		position: relative;
		padding-bottom: 0;
		letter-spacing: -2px;
		line-height: 1.5em;
		color: $white;
		@media screen and (max-width: $mobile){
			display: block;
			width: 100%;
			text-align: center;
		}

		&:after{
			content: ' ';
			width: 2em;
			border-bottom: 3px solid $lightcyanblue;
			position: absolute;
			bottom: 0;
			left: 0;
			@media screen and (max-width: $mobile){
			 width: 0;
			}
			
		}
	} // h1

	p{
		margin-top: 5%;
		margin-bottom: 5%;
		line-height: 1.7em;
		color: $white;
		width: 40%;
		font-size: 1.3rem;
		@media screen and (max-width: $mobile){
			width: 100%;
			text-align: center;
		}

	} // p

	img{
		width: 300px;
		height: 300px;
		position: relative;
		top: -340px;
		float: right;
		min-width: 250px;
		@include border-radius(50%);
		@media screen and (max-width: $mobile){
			float: none;
			display: block;
			top: 0;
			margin: 0 auto;
			width: 60%;
			text-align: center;
		}
	} // img

	a.button{
		width: 20%;
		color: $red;
		text-align: center;				
		font-size: 0.8em;
		text-transform: uppercase;
		margin-top: 5%;

		@media screen and (max-width: $mobile){
			margin-top: 15%;
			width: 80%;
			margin-left: 10%;
		}
	} // button
} // .info

.skills-holder{
	padding: 5% 0;
	width: 100%;
	font-size: 1.3em;
	font-weight: bolder;
	line-height: 1.7em;

	@media screen and (max-width: $tablet){
		padding: 0 2% 0 2%;
	}

	.skills{
		width: 45%;
		color: $darkblue;
		display: inline-block;
		position: relative;

		@media screen and (max-width: $mobile){
			width: 100%;
			display: block;
			padding: 0 5%;
		}

		&:nth-child(2n +2){
			margin-left: 9%;
			@media screen and (max-width: $mobile){
				margin-left: 0;
			}
		}

		.procent{
			position: absolute;
			top: 0;
			right: 0;
			@include transition(all 1s ease);
			@media screen and (max-width: $mobile){
				right: 5%;
			}
		}

		.bar{
			height: 40px;
			margin-bottom: 20px;
			overflow: hidden;
			box-shadow: 0 0 1px $darkblue inset;
			background-color: $lightcyanblue;

			span{
				float: left;
				height: 100%;
				overflow: hidden;
					color: $white;
				text-align: left;
				background: $cyanblue;
				-webkit-transition: width 0.6s ease;
				transition: width 0.6s ease;
			}
		}
	}
	
	} // skills-holder	

}