div.contact {

	section#maps {
		width: 100%;
		height: 500px;
		margin-bottom: 100px;

		@media screen and (max-width: $mobile){
			height: 350px;
		}
	}// end maps

	h1{
		font-size: 1.5rem;
		width: 60%;
		margin: 5% auto;
		line-height: 3rem;

		@media screen and (max-width: $mobile and $tablet){
			width: 90%;
		}
	}

	.form{
		width: 60%;
		margin: 0 auto 10%;

		@media screen and (max-width: $mobile and $tablet){
			width: 90%;
		}

		.formgroup{
			margin-bottom: 15px;

			label{
				display: block;
				margin-bottom: 5px;
				font-weight: 700;
				font-size: 1.2rem;
			}
	
			input, textarea{
				display: block;
				width: 100%;
				font-family: 'lato', sans-serif;
				padding: 6px 12px;
				font-size: 14px;
				border: 1px solid #E0E0E0;
				line-height: 1.4em;
				color: $verydarkgray;
				background-color: $white;
				@include transition(all 200ms ease);

				&:focus{
					background-color: #d3d3d3;
					outline: 0;
					}
			}

			input{
				height: 50px;
			}

			text-area{
				height: 120px;
				resize: none !important;
			}

			input[type="submit"]{
				background-color: $cyanblue;
				width: 100%;
				height: 50px;
				margin-top: 40px;
				-webkit-appearance: none;
				-moz-appearance: none;
				font-size: 1.2rem;
				cursor: pointer;
				color: $white;
				border: none;

				&:hover, &:focus{
					background-color: $cyanblue;
					color: $white;
					@include box-shadow(none);
				}
			}

			span{
				line-height: 1.7rem;
				color: $red;
			}
		}
	}
}// end div.contact	