.singleprojects{
	margin: 10% auto;
	width: 90%;
	
	.work-bio{
		width: 30%;
		float: left;
			@media screen and (max-width: $mobile){
				width: 100%;
				display: block;
				float: none;
				z-index: 101;
				margin-bottom: 10%;
				height: auto;
				position: relative;
			}
		
		.link{
			border-bottom: 1px solid $darkgray;
		}
		
		.button{
			width: 80px;
			height: 80px;
			@include border-radius(50%);
			background: $blue;
			font-size: 3rem;
			display: block;
			margin-top: 50px;
			text-align: center;
			color: #fff;
			position: relative;
			padding-top: 17px;
		}

		.description{
			width: 100%;
			margin-bottom: 30px;	

			h1{
				font-size: 2.5rem;
				position: relative;
				color: $lightblue;
				margin-bottom: 10%;
				line-height: 1.7em;
				border-bottom: 5px solid $darkgray;
			}
			p{
				font-size: 1rem;
				line-height: 2rem;
				width: 100%;
				height: auto;
				display: block;
			}
		}
		
		.toggle{
			@media screen and (max-width: $mobile)
			{
				display: none;
			}
		}
		.read-more{
			margin-top: 30px;
			margin-bottom: 30px;
			
			display: none;
			@media screen and (max-width: $mobile){
				display: block;
			}
			
		}

		.build{
			margin-bottom: 30px;
			
			@media screen and (max-width: $tablet){
				width: 100%;
			}
			@media screen and (max-width: $mobile){
				float: none;
				width: 100%;
				padding-bottom: 5%;
				z-index: -1;
			}

			h2{
				color: $blue;
				line-height: 2em;
				font-size: 1.5rem;
				font-weight: 900;
				display: block;

				@media screen and (max-width: $mobile){
					margin-bottom: 5%;
				}
			}

			ul{
				list-style-type: none;
				
				@media screen and (max-width: $mobile){
					width: 100%;		
					padding-left: 5%;	
				}
				li{
					font-size: 1.2rem;
					line-height: 2.5rem;
					display: inline-block;
					margin-right: 10%;
					z-index: 999;
					

					@media screen and (max-width: $mobile){
						display: inline-block;
						margin: 0;
						width: 40%;
					}
				}
			}
		}
	} // work-bio
	
	#pictures{
		width: 60%;
		float: right;
		background-color: $lightgray;

		@media screen and (max-width: $mobile){
				width: 100%;
				display: block;
				float: none;
				z-index: 110;
				position: relative;
			}
		li{

			border-bottom: 10px solid $lightgray;
			img{
				width: 100%;
				
			}
		}
		
	}
}